.navbar{
    padding: 0px;
}

.navbar-nav{
    padding: 0px;
}
.nav-item{
    padding: 0px;
}

.nav-item :hover{
    background: #969696;
    color: #0c5460;
}

.cust_link{
    padding: 5px;
    color: #000000;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: fit-content;
}

.cust_link:hover{
    background: #b7b7b7;
    text-underline-mode: 0;
    cursor: pointer;
}
